DATABASE_URL=postgresql://user:password@localhost:5432/inventory_db
POSTGRES_DB=inventory_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_SSLMODE=require
APP_ENV=development
